<footer>
    <div class="container pt-4 pb-2">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card mainCard dark">
                    <h5 class="card-header" style="border-top: unset">آخرین نظر</h5>
                    <ul class="card-body">
                        <li class="socialItem">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card mainCard dark">
                    <h5 class="card-header" style="border-top: unset">آخرین مطالب</h5>
                    <ul class="card-body">
                        @foreach (var item in postItems)
                        {
                            <li class="menuRighItem">
                                <NavLink href='@($"/{item.Alias}")' class="imgLink">
                                    <img src="@Model.Files.Item.GetThumbnail(item.Img)">
                                </NavLink>
                                <NavLink href='@($"/{item.Alias}")' class="textLink">
                                    <h3 class="card-title h6">@item.Title</h3>
                                </NavLink>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card mainCard dark">
                    <h5 class="card-header" style="border-top: unset">آخرین محصول</h5>
                    <ul class="card-body">
                        @foreach (var item in productItems)
                        {
                            <li class="menuRighItem">
                                <NavLink href='@($"product/{item.Alias}")' class="imgLink">
                                    <img src="@Model.Files.Item.GetThumbnail(item.Img)">
                                </NavLink>
                                <NavLink href='@($"product/{item.Alias}")' class="textLink">
                                    <h3 class="card-title h6">@item.Title</h3>
                                </NavLink>
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="container-full site-info">طراحی و تنظیم توسط محمدی </div>

</footer>
<div id="getToTop" onclick="getToTop()" class="diy d-hide">
    <span class="svgDirectUp"></span>
</div>

@code {

    public CMS.Model.Post post { get; set; }

    List<Model.Post> postItems = new List<Model.Post>();
    List<Model.Post> productItems = new List<Model.Post>();
    List<Model.Social> socialItems = new List<Model.Social>();

    protected override async Task OnInitializedAsync()
    {
        CMS.Dal.DataSource.PostDataSource db = new CMS.Dal.DataSource.PostDataSource();
        var resultItems = await db.ListAsync(new CMS.Model.PostVM() { IsProduct = false }, 5);
        postItems = resultItems.Data.ToList();
        var resultProduct = await db.ListAsync(new CMS.Model.PostVM() { IsProduct = true }, 5);
        productItems = resultProduct.Data.ToList();
    }
}