

@if (Item.Type == Model.MenuType.Link)
{
    <li class="@getNavbarItemClass()">
        <NavLink href="@Item.Link" class="@getItemClass()" Match="NavLinkMatch.All">@Item.Name</NavLink>
    </li>
}
else if (Item.Type == Model.MenuType.Content)
{
    <li class="@getNavbarItemClass()">
        <NavLink href="@Item.Alias" class="@getItemClass()" Match="NavLinkMatch.All">@Item.Name</NavLink>
    </li>
}
else if (Item.Type == Model.MenuType.Categorie)
{
    <li class="@getNavbarItemClass()">
        <NavLink href="@($"category/{Item.Alias}")" class="@getItemClass()" Match="NavLinkMatch.All">@Item.Name</NavLink>
    </li>
}
else if (Item.Type == Model.MenuType.ProductCategorie)
{
    <li class="@getNavbarItemClass()">
        <NavLink href="@($"product-category/{Item.Alias}")" class="@getItemClass()" Match="NavLinkMatch.All">@Item.Name</NavLink>
    </li>
}
else if (Item.Type == Model.MenuType.Title)
{
    <div class="dropdown navbarItem">
        <span class="dropdown-toggle px-2" type="button" id="dropdownMenuButton@(Item.Alias)"
        data-bs-toggle="dropdown" aria-expanded="false" style=" color: var(--bs-nav-link-color);">
            @Item.Name
        </span>
        @if (Item.Child?.Count > 0)
        {
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton@(Item.Alias)">

                @foreach (var child in Item.Child)
                {
                    <li>
                        <MenuItem Item="child" Child="true" />
                    </li>
                }
            </ul>
        }
    </div>
}
@code {
    [Parameter]
    public CMS.Model.Menu Item { get; set; }
    [Parameter]
    public bool Child { get; set; }

    private string getItemClass()
    {
        var c = Child ? "dropdown-item" : "navbar-brand";
        return c + " px-2";
    }

    private string getNavbarItemClass()
    {
        return Child ? "nav-Item" : "nav-Item navbarItem";
    }
}
