@using CMS.Model
@using fileModel = CMS.Model.Files
@model List<CMS.Model.Post>

@if (Model?.Count > 0 && (Model[0].Id > 0 || Model[1].Id > 0))
{
    <div class="card py-4 px-2 rounded-0" style="background: #f9f9f9;">
        <div class="nav-links d-flex align-items-center justify-content-around">
            @if (Model[0].Id > 0)
            {
                <div class="nav-previous">
                    <a href='@($"{ViewBag.PrefixLink}/{Model[0].Alias}")'>
                        <div class="imgsize1">
                            <div class="postTitle"><h1 class="h2">بعدی</h1></div><!--!-->
                            <img src="@fileModel.Item.GetThumbnail(Model[0].Img)" class="card-img-top rounded-0" alt="@Model[0].Title">
                        </div>
                        <h2 class="h6 text-center mt-2"> @Model[0].Title</h2>
                    </a>
                </div>
            }
            @if (Model[1].Id > 0)
            {
                <div class="nav-next">
                    <a href='@($"{ViewBag.PrefixLink}/{Model[1].Alias}")'>
                        <div class="imgsize1">
                            <div class="postTitle"><h1 class="h2">قبلی</h1></div><!--!-->
                            <img src="@fileModel.Item.GetThumbnail(Model[1].Img)" class="card-img-top rounded-0" alt="@Model[1].Title">
                        </div>
                        <h2 class="h6 text-center mt-2"> @Model[1].Title</h2>
                    </a>
                </div>
            }
        </div>
    </div>
}

