@using CMS.Model
@using CMS.App.Controllers
@using CMS.App.Components
@using fileModel = CMS.Model.Files
@model PosteModel

<input id="PageId" type="hidden" value="@Model.id">
<input id="PostId" type="hidden" value="@Model.post.UnicId">

<div class="container main">
    <div class="mainSlideLeft">
        <div class="card rounded-0 w-100">

            @await Component.InvokeAsync("OutsideProductTop", Model)

            @if (Model.productPropertys.Count > 0)
            {
                <div class="card-body mt-3" id="PropertyTab">
                    <span class="=h5 fw-bold">مشخصات</span>
                    <hr />
                    @foreach (var productProperty in Model.productPropertys)
                    {
                        <div class="productProperty">
                            <span class="productPropertyName">@productProperty.Name</span>
                            <span class="productPropertyValue">@productProperty.Value</span>

                        </div>
                    }
                </div>
            }

            <div class="card-body post mt-3" id="ContentTab">
                <span class="=h5 fw-bold">توضیحات</span>
                <hr />
                @Html.Raw(Model.post.Content)
            </div>
        </div>

        @await Component.InvokeAsync("OutsideNextAndPrev", Model.nextAndPrev)
        @await Component.InvokeAsync("OutsideRelated", Model.related)
        @if (Model.postOption.IsComment)
        {
            @await Component.InvokeAsync("OutsideComment", Model);
        }

    </div>
    <cache expires-after="@TimeSpan.FromMinutes(25)">
        @await Component.InvokeAsync("OutsideRightMenu")
    </cache>
</div>

<script>

    PageInit();
</script>