@using CMS.Model
@using CMS.App.Controllers
@using CMS.App.Components
@using fileModel = CMS.Model.Files
@model CategoryModel

<div class="container main">
    <div class="mainSlideLeft">
        <div class="card rounded-0 w-100 mb-4">
            <div style="max-height: 200px; position:relative">
                <div class="postTitle">
                    <h1 class="h2">@Model.menu.Name</h1>
                </div>
                <img src="@Model.menu.Img" class="card-img-top rounded-0" alt="@Model.menu.Name">
            </div>
        </div>
        @if (Model.items.Count > 0)
        {
            <div class="row">
                @foreach (var item in Model.items)
                {
                    <article class="article col-lg-4 col-md-6 col-sm-12">

                        <div class="card w-100 my-4 ">
                            <div class="img">
                                <img src="@fileModel.Item.GetThumbnail(item.Img)" class="card-img-top" alt="@item.Title">
                            </div>
                            @if (item.Special)
                            {
                                <div class="badge labelSpecial">ویژه</div>
                            }
                            <div class="card-body">

                                <h2 class="card-title h4">
                                    <a href='@($"/{item.Alias}")' class="text-decoration-none">@item.Title</a>
                                </h2>

                                <p class="card-text mt-3">@item.Summary</p>
                            </div>
                            <div class="card-footer bg-white border-0">
                                <a href='@($"/{item.Alias}")' class="btn bg-BaseColor text-white">ادامه مطلب</a>
                            </div>
                        </div>
                    </article>
                }
            </div>
            @Html.Raw(Model.postPagInation)
        }
        else
        {
            <div class="card rounded-0 p-4 w-100">
                <span>مطلبی برای نمایش وجود ندارد</span>
            </div>
        }
    </div>
    <cache expires-after="@TimeSpan.FromMinutes(25)">
        @await Component.InvokeAsync("OutsideRightMenu")
    </cache>
</div>

<script>
    PageInit();
</script>